@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 20px;
}

body{
    font-family: 'Nunito', 'Minecraft', sans-serif;
    background-image: url("/src/images/background.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    position: relative;
    padding-bottom: 200px;
}

.navbar{
    background-color: rgba(184, 66, 66, 0.75);
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    height: 80px;
    padding: 5px 10%;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.75);
    font-weight: 600;
    text-transform: uppercase;
    z-index: 1;
}

.navbar span {
    color: #30cc25;
}

.modal span {
    color: rgba(184, 66, 66, 1);
    font-weight: bold;
}

.shadow-txt {
    text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5);
}

.shadow-div {
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.20);
}

.play-btn {
    height: 80%;
    background-color: #CA0001;
    border-radius: 5px;
    padding-left: 25px;
    padding-right: 25px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.5s;
}

.play-btn:hover {
    transform: scale(1.1);
}

.nav-info {
    cursor: pointer;
}

@media (max-width: 1250px) {
    .play-btn {
        margin: 0 auto;
    }
    .nav-info {
        display: none;
    }
}

.steve-head {
    height: 100%;
    margin-right: 8px;
}

.logo {
    margin-top: 100px;
    text-align: center;
}

.logo-img {
    height: 260px;
    animation: zoomImage 1s linear infinite alternate;
}

@keyframes zoomImage {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0.9);
    }
}

.info-div {
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 5px;
    background-color: rgba(184, 66, 66, 0.65);
    text-align: center;
}

.info-msg {
    padding-left: 20px;
    padding-right: 20px;
    text-transform: uppercase;
}

.link {
    color: #30cc25;
    text-decoration: underline;
}

.back-link {
    color: #30cc25;
    text-decoration: underline;
}

.options-menu {
    text-align: center;
    margin-top: 20px;
    font-family: 'Minecraft', 'Nunito', sans-serif;
}

.option {
    padding: 5px;
    margin-bottom: 10px;
}

.option-item {
    background-color: rgba(184, 66, 66, 0.85);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.35);
    border-radius: 5px;
    margin: 10px;
    height: 245px;
    cursor: pointer;
    transition: transform 0.5s;
    margin-left: 15px;
    margin-right: 15px;
}


.option-txt {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 600;
}

.option-subtxt {
    font-size: 24px;
    font-weight: 400;
}

.option-ranktxt {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 400;
}

a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.option-image {
    height: 180px;
    padding-bottom: 20px;
    padding-top: 20px;
    justify-content: center;
    align-items: center;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.social-menu {
    width: 230px;
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.minecraft-img {
    height: 140px;
    max-width: 90%;
    display: flex;
    text-align: center;
    align-items: center;
    margin: 0 auto;
}

.social-menu img {
    /* background-color: rgba(184, 66, 66, 0.50); */ /* TODO: Consultar diseño final */
    border-radius: 5px;
    opacity: 1;
    height: 35px;
    cursor: pointer;
    transition: transform 0.5s;
}

.youtube:hover, .tiktok:hover, .instagram:hover, .discord:hover {
    transform: scale(1.1);
}

.copyright {
    margin: 10px auto 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-style: italic;
    text-transform: capitalize;
}

.copyright span {
    font-size: 16px;
    padding-left: 5px;
    padding-right: 5px;
}

.modal {
    color: black;
    text-align: center;
}

.check-icon {
    height: 120px;
    padding-top: 10px;
    padding-bottom: 25px;
}

.modal-header, .modal-footer {
    text-align: center;
    display: flex;
    justify-content: center;
}

.modal-header {
    text-transform: uppercase;
}

.modal-title {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;

}

.back-div {
    margin-bottom: 25px;
}